build/
build-debug/
build-release/
build-sanitize-addr/
build-sanitize-thread/
build-cov/
build-ci-debug/
build-ci-release/
build-cublas/
out/
tmp/

compile_commands.json
CMakeSettings.json
.vs/
.vscode/
.clangd

.exrc
.cache
.DS_Store

zig-out/
zig-cache/

*.dot
*.sw?

__pycache__/

# Model files
vit_base.pth
ggml-model-*.bin

